body {
    padding-bottom: 5%;
    font-family: 'Lato', sans-serif;
}

html {
  position: relative;
  
  min-height: 100vh;
  
}
/*----------------------------------Containers*/
.welcome-hero-image {
    background: url("/static/images/welcome-image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    margin-top: 0;
}

.profile-hero{
  background: url("/static/images/profile-image.avif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  margin-top: 0;

}
.register-hero-image {
    background: url("/static/images/register-image.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    margin-top: 0;
}
.login-hero-image{
    
        background: url("/static/images/signIn-image.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100vh;
        margin-top: 0;
        padding-top:0;
}
.trails-hero{
    
    background: url("/static/images/trails.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    margin-top: 0;
}
.add-trail-hero-image {
  background: url("/static/images/add-trail-image.avif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  margin-top: 0;
}
/*----------------------------------Jumbotron*/
.jumbotron{ 
    margin: 5rem 9rem 0rem;
    background-color: rgba(196, 194, 194, 0.603);
    padding-bottom: 10px;
}



.search-bar-icon{
    font-size: 20px;
    margin-right: 10px;
}

/*----------------------------------Navigation Bar*/
/* over-write the Bootstrap navbar class */
.navbar{
    background-color: #302F30ff !important;
  }

  
  .navbar-brand {
    color:white;
    font-size: 20px;
    left:5px;
    font-family:'Roboto', sans-serif;
    }
  .navbar-brand:hover{
    color:#F6F6F6 !important;
  }
  /* Change the color of nav text by using !important, answer found on StackOverflow, user: dynamiclynk (https://stackoverflow.com/questions/24420080/change-navbar-text-color-bootstrap) */
  .navbar-nav li a{
    font-size: 20px;
    color:#F6F6F6!important;
  }
  .nav-item a:hover {
    background-color: #7A5D49ff;
    color: #F6F6F6!important;
  }
  .navbar-brand i{
    transform: rotate(30deg); 
    background-color: #7A5D49ff;
    font-size:35px;
    margin-right: 10px;
    margin-left:5px;
    
  }
  .logo {
      color: white;
      font-size: 20px;
   
  }
  
  
  
/* Buttons */
  .btn-welcome {
    background-color:#7A5D49ff;
    color: #F6F6F6 !important;
    border-color:  #7A5D49ff;
    text-decoration: none;
  }
  .btn-welcome:hover {
    background-color: #302F30ff;
    color: #F6F6F6 !important;
    border-color:#302F30ff;
    text-decoration: none;
  }
 .btn-card,
 .btn-add-trail,
  .btn-register,
  .btn-login {
    background-color: #7A5D49ff;
    color: white;
    border-color:#7A5D49ff;
  
  }
  .btn-card:hover,
  .btn-register:hover,
  .btn-login:hover{
    background-color: #7A5D49ff;
    color: white !important;
    border-color:#7A5D49ff;
  }
  .btn-edit,
  .btn-delete,
  .btn-reset,
  .btn-search{
    background-color: #302F30ff;
    color: white;
    border-color: #302F30ff;
  }
  .btn-edit{
    background-color: #302F30ff;
    color: white;
    border-color: #302F30ff;
    padding:6px 20px;
    
  }

  .btn-edit:hover{
    background-color: #302F30ff;
    color: white;
    border-color: #302F30ff;
    padding:6px 20px;
    
  }

  .btn-delete:hover,
  .btn-search:hover{
    background-color: #302F30ff;
    color: white;
    border-color: #302F30ff;
  }
  
/* Footer */
  footer{
    background-color: #302F30ff;
    color: #F6F6F6;
    position: absolute;
    bottom: 0;
    width: 100%;
  } 
    
    .social-media-section .list-inline .list-inline-item a{
      border-color:#272222;
      font-size: 20px;
      text-align: center;
    }
    .social-media-section .list-inline .list-inline-item a i{
      margin-left:10px;
      font-size: 20px;
      color:#F6F6F6;
      transition: 0.6s all;
    }
    .list-inline-item i:hover {
      transform: scale(1.4);
    }


/*----------------------------------Form */
.form-icons{
  size:15px;
}
.card{
  background-color: rgba(48, 47, 48, 0.699);
  
}
.icons{
  font-size:25px;
  padding-top:5px;
  color: white;
}

.form-link-here {
  color:white;
  text-decoration: none;
}

.form-area h3 {
    color: white;
  }

.trails-section{
  
  color:white;
}
/*----------------------------------https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width */

.card-trails{
  background-color: #302F30ff;
  color: white;
}
.card-img-top{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.modal-content{
  background-color: #7A5D49ff;
  color: beige;
}
.font-icon{
  font-size: 25px;
}

.trail-icon{
  font-size: 25px;
  color: white;
}
/*----------------------------------Media Queries */
  @media only screen and (max-width: 600px) {
    .jumbotron{ 
      margin: 5rem 1rem 0rem;
  }

  .card-img-top{
    width: 100%;
    height: 29vw;
    object-fit: cover;
  }
}


@media only screen and (max-width: 900px) {
.card-img-top{
  width: 100%;
  height: 29vw;
  object-fit: cover;
}
}


.img-thumbnail{
  width: 60%;
margin-left: 20px;
margin-right: 10%;


}

#profile-card{
  background-color: rgba(122, 92, 73, 0.781);
  color: white;
  box-shadow: #272222;
  width: 100%;
  position:relative;
  
}
textarea {
 
  height: 30vh;
}

.no-results{
  color:black;
}

/* Flashes */
.alert-error {
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border: 2px solid darkred;
  background-color: red;
  color: white;
  padding-bottom: 0;
}

.alert-success {
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border: 2px solid rgb(12, 139, 0);
  background-color: rgba(8, 143, 64, 0.582);
  color: white;
  padding-bottom: 0;
}

.alert-info {
  background-color: yellow;
  color: black;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border: 2px solid rgb(12, 139, 0);
  padding-bottom: 0%;
}

.trails-section{
  background-color: #7A5D49ff;
}

.username{
  width: 200px;
  height: 10vh;
  padding: 10px;
  background-color: rgba(122, 92, 73, 0.781);
  color: white;
  
 
}

.favourite-icon{
  font-size: 30px;
}

