{% extends "base.html" %}

{% block title %}Page 404{% endblock %}
{% block content %}

    <section class="container-fluid hero-image"> 
                <div class="row">
                    <div class="card col text-center error-message profile-card mt-5">
                    
                        <h2 class="page-not-found-heading mt-3">500: Internal Server Error</h2>
                    <div>
                <a href="{{ url_for('index') }}" class="mt-5 btn btn-lg btn-error text-shadow">
                    Back to Home <i class="fas fa-arrow-circle-left"></i>
                </a>
            </div>
            </div>
        </div>
    </section>
{% endblock %}