{% extends "base.html" %}
{% block content %}

<section class="user-profile">

  <h4 class="curly text-center py-5">
    {{ username }} 's trails</h4>

  


  {% if trails %}
  {% for trail in trails %}
  <div class="container-fluid">
    <div class="card pt-5 shadow p-3 mb-5 bg-white rounded" id="profile-card">
      <div class="row">
       {% if trail.image_url %}
        <div class="col-md-4 col-4 d-none d-md-block">
         
            <img src="{{ trail.image_url }}" class="img-thumbnail float-start" alt="...">
         
        </div>
        {% else %}

        <div class="col-4  d-none d-md-block">
         
          <img src="/static/images/signIn-image.png" class="img-thumbnail float-start" alt="...">
       
      </div>

      {% endif %}

        <div class="col-4 col-md-4">

          <div class="mt-md-5 mb-4">{{ trail.title }}</div>

        </div>
        <div class="col-4 col-md-2 col-lg-2 col-lg-2 d-none d-lg-block">

          <div class="mt-5">{{ trail.location}}</div>

        </div>
        <div class="col-4 col-md-2 col-lg-1  mt-md-5">
          <a href="{{ url_for('edit_trail', trail_id=trail._id ) }}" class="btn text-shadow btn-success btn-edit">
           Edit
          </a>
        </div>
        <div class="col-4 col-md-2 col-lg-1 mt-md-5">
          <a href="{{ url_for('delete_trail', trail_id=trail._id ) }}" class="btn text-shadow btn-success"> Delete 
  
          </a>
        </div>
      </div>
    </div>


    {% endfor %}

    {% else %}
    <div class="container-fluid">
      <div class="card pt-5 shadow p-3 mb-5 bg-white rounded" id="profile-card">
        <div class="row text-center">
          <h5 class="col-12">
            You haven't written any trail yet.
          </h5>
          <div class="col-12 text-center">
          <a class="btn btn-danger btn-lg" href="{{ url_for('add_trail') }}">Add</a>
          </div>

        </div>
      </div>
    </div>
    </div>

  {% endif %}
</section>


{% endblock %}