{% extends "base.html" %}
{% block content %}

    <div class=" container-fluid trails-hero">
        <div class="row justify-content-center">
            <div class="col-lg-8  mt-5">
                <div class="row">
                   
                    <!-- Search -->
                    <form class="col-lg-8 text-center text-md-start" action=""
                        method="POST">
                        <input class="form-control mb-2" name="query" id="query" type="search"
                            placeholder="Search Trails" aria-label="Search Comics">
                        <button class="btn btn-success text-shadow comic-font" type="submit"><i
                                class="fas fa-search"></i> Search Trails</button>
                        <a href=""
                            class="btn btn-danger text-shadow comic-font">Reset</a>
                    </form>
                </div>
            </div>
            {% for trail in trails %}
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ trail.trail_url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ trail.trail_title }}</h5>
                            <p class="card-text">{{ trail.trail_description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ trail.trail_category }}</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                        <div class="card-body">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


                    
                    



                   
      
        
    
    

{% endblock %}